.BookImage {
	width: 150px;
	height: 200px;
	margin: 0;
}

#bigBook {
	width: 440px;
	height: 490px;
	position: absolute;
	padding: 3px;
	z-index: 101;
	border: 1px solid #000;
}

#bookBG {
	padding: 5px;
	width: 450px;
	height: 500px;
}

#shopList {
	border: 1px solid black;
	z-index: 101;
}

.inf {

}

.book {
	border: 1px solid black;
	padding: 5px;
	width: 450px;
}